div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	padding: 5px;
}

label {
	margin: 5px;
}

button {
	margin: 5px;
}

body {
	background-color: #171d2b;
	color: #76b4e8;
	font-family: "Josefin Sans", sans-serif;
	font-size: 18px;
	font-weight: 700;
}

input:focus {
	background-color: #292d53;
	color: #5376f2;
	width: 250px;
	padding: 10px;
	font-size: 24px;
}

input {
	width: 100px;
	transition: ease-in-out, width 0.35s ease-in-out;
	background-color: #351f42;
	height: 30px;
	margin: 5px;

	border-radius: 5px;
	box-shadow: 2px 4px 3px #292d53 inset;
}

select:focus {
	background-color: #292d53;
	color: #5376f2;
	width: 75px;
	padding: 5px;
	font-size: 24px;
}

select {
	width: 150px;
	transition: ease-in-out, width 0.35s ease-in-out;
	background-color: #351f42;
	text-align: center;
	height: 30px;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 2px 4px 3px #292d53 inset;
}

button {
	background-color: #44467a;
	color: #dd65f9;
	width: 100px;
	height: 25px;
	font-size: 14px;
}

button:hover {
	background-color: #5376f2;
	color: aqua;
	font-size: 18px;
	text-decoration: underline;
}

button:active {
	color: red;
}

h1 {
	text-align: center;
	color: #2b3b7e;
}

p {
	font-size: 24px;
	color: #da5cf5;
	margin-left: 50px;
	text-transform: uppercase;
}

img {
	margin-left: 25px;
}
